  <footer class="page-foot bg-cape-cod context-dark">
    <section class="section-40 section-sm-75">
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-xs-9 cell-sm-11 cell-lg-12">
            <div class="range">
              <div class="cell-sm-6 cell-md-10 cell-lg-3">
                <div style="max-width: 510px;" class="inset-lg-right-20"><a href="index.html" class="brand brand-inverse"><img src="images/logo-light-135x34.png" alt="logo" width="135" height="34"/></a>
                  <p class="offset-top-22 text-dusty-gray">Consulting delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.</p>
                  <a href="contact-us.html" class="text-small-16 text-medium offset-top-15">Free Consultation</a> </div>
              </div>
              <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-sm-top-0 offset-md-top-50 offset-lg-top-0">
                <h6 class="text-small-16 text-uppercase">Recent Posts</h6>
                <div class="offset-top-22 offset-md-top-30">
                  <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left">
                        <figure class="post-image"><img src="images/70x70.jpg" alt="" width="70" height="70"/> </figure>
                      </div>
                      <div class="unit-body">
                        <div class="post-header">
                          <p>Top 3 Concerns Whe Choosing a Cloud Vendor</p>
                        </div>
                        <div class="post-meta">
                          <ul class="list-meta">
                            <li>
                              <time datetime="2016-12-23">June 23, 2016</time>
                            </li>
                            <li>4 Comment</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    </a></article>
                  <article class="post post-preview post-preview-inverse offset-top-22"><a href="blog-post.html">
                    <div class="unit unit-horizontal unit-spacing-lg">
                      <div class="unit-left">
                        <figure class="post-image"><img src="images/70x70.jpg" alt="" width="70" height="70"/> </figure>
                      </div>
                      <div class="unit-body">
                        <div class="post-header">
                          <p>Audit Data Analytics: Why Auditors Should Care</p>
                        </div>
                        <div class="post-meta">
                          <ul class="list-meta">
                            <li>
                              <time datetime="2016-12-23">June 20, 2016</time>
                            </li>
                            <li>4 Comment</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    </a></article>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-lg-top-0">
                <h6 class="text-small-16 text-uppercase">Quick links</h6>
                <div style="max-width: 270px;" class="row offset-top-22 offset-md-top-30">
                  <div class="col-xs-6">
                    <ul class="list-marked-variant-2">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="careers.html">Careers</a></li>
                      <li><a href="blog-classic.html">Blog</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <ul class="list-marked-variant-2">
                      <li><a href="about-us.html">About us</a></li>
                      <li><a href="contact-us.html">Contacts</a></li>
                      <li><a href="appointment.html">Appointment</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-lg-top-0">
                <h6 class="text-small-16 text-uppercase">Contact us</h6>
                <address class="contact-info offset-top-22 offset-md-top-30 offset-lg-top-35 text-left">
                <div class="unit unit-horizontal unit-spacing-md unit-middle">
                  <div class="unit-left"><span class="icon icon-xs icon-dusty-gray material-icons-phone"></span></div>
                  <div class="unit-body"><a href="callto:#" class="link-white">1900-2345-234</a></div>
                </div>
                <div class="unit unit-horizontal unit-spacing-md unit-middle offset-top-15">
                  <div class="unit-left"><span class="icon icon-xs icon-dusty-gray fa fa-envelope-o"></span></div>
                  <div class="unit-body"><a href="#5d7e" class="link-white"><span class="__cf_email__" data-cfemail="442d2a222b042021292b282d2a2f6a2b3623">philip@gmail.com</span></a></div>
                </div>
                <div class="unit unit-horizontal unit-spacing-md offset-top-15">
                  <div class="unit-left"><span class="icon icon-xs icon-dusty-gray material-icons-place"></span></div>
                  <div class="unit-body"><a href="#" class="link-white reveal-inline">6036 Richmond hwy,<br>
                    Alexandria, VA USA 22303</a></div>
                </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="shell">
      <hr class="hr bg-abbey-04">
    </div>
    <section class="section-35">
      <div class="shell text-center">
        <div class="range range-sm-reverse range-sm-justify range-sm-middle">
          <div class="cell-sm-6 text-sm-right">
            <div class="group-sm group-middle">
              <p class="text-italic text-white">Follow Us:</p>
              <ul class="list-inline list-inline-reset">
                <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook"></a></li>
                <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter"></a></li>
                <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus"></a></li>
              </ul>
            </div>
          </div>
          <div class="cell-sm-6 offset-top-15 offset-sm-top-0 text-sm-left">
            <p class="rights text-white"><span id="copyright-year"></span><span>&nbsp;&#169;&nbsp;</span><span>Consulting.&nbsp;</span><a href="privacy-policy.html" class="link-white-v2">Privacy Policy</a> </p>
          </div>
        </div>
      </div>
    </section>
  </footer>