<header>
	<ul>
		<li><a href="../pagePractice/variable.html">Variable Example</a></li>
		<li><a href="../pagePractice/operator.html">Operator Example</a></li>
		<li><a href="../pagePractice/if-else.html">IF-ELSE Example</a></li>
		<li><a href="../pagePractice/while-loop.html"> Loops</a></li>
		<li><a href="../pagePractice/functions.html"> Functions </a></li>
		<li><a href="../pagePractice/events.html"> Events </a></li>
		<li><a href="../pagePractice/cookie.html"> Cookie </a></li>
		<li><a href="../pagePractice/cookie_read.html"> Cookie Read </a></li>
		<li><a href="../pagePractice/cookie_real.html"> Real Cookie </a></li>
		<li><a href="../pagePractice/redirect.html"> Redirection </a></li>
		<li><a href="../pagePractice/dialog_box.html"> Dialog Box </a></li>
		<li><a href="../pagePractice/object.html"> Object Example </a></li>
	</ul>  
</header>
